# UMGC Catalog
## Step 4: Load additional data into UMGC.db

In [1]:
import sqlite3
conn = sqlite3.connect('UMGC.db')
c = conn.cursor()

In [3]:
def drop_table(table, db=c):
    db.execute('DROP TABLE IF EXISTS ' + table)

In [38]:
################################################################

# Degrees Table

degrees = [
    {"id": 1, "name": "Associate"},
    {"id": 2, "name": "Bachelor's"},
    {"id": 3, "name": "Master's"},
    {"id": 4, "name": "Doctorate"},
    {"id": 5, "name": "Undergraduate Certificate"},
    {"id": 6, "name": "Graduate Certificate"}
]

drop_table('degrees',c)
c.execute('''
    CREATE TABLE degrees (
        id INTEGER PRIMARY KEY,
        name TEXT
    )
''')

c.executemany('INSERT INTO degrees VALUES (:id, :name)', degrees)

################################################################

# Areas Table

areas = [
    {"id": 1, "name": "Business & Management"},
    {"id": 2, "name": "Cybersecurity"},
    {"id": 3, "name": "Data Analytics"},
    {"id": 4, "name": "Education & Teaching"},
    {"id": 5, "name": "Healthcare & Science"},
    {"id": 6, "name": "IT & Computer Science"},
    {"id": 7, "name": "Liberal Arts & Communications"},
    {"id": 8, "name": "Public Safety"},
]

drop_table('areas',c)
c.execute('''
    CREATE TABLE areas (
        id INTEGER PRIMARY KEY,
        name TEXT
    )
''')

c.executemany('INSERT INTO areas VALUES (:id, :name)', areas)

################################################################

# Programs Table

programs = [
    { "id":  1, "name": "Accounting" },
    { "id":  2, "name": "Applied Technology" },
    { "id":  3, "name": "Biotechnology" },
    { "id":  4, "name": "Business Administration" },
    { "id":  5, "name": "Communication Studies" },
    { "id":  6, "name": "Computer Science" },
    { "id":  7, "name": "Criminal Justice" },
    { "id":  8, "name": "Cybersecurity Management and Policy" },
    { "id":  9, "name": "Cybersecurity Technology" },
    { "id": 10, "name": "Data Science" },
    { "id": 11, "name": "East Asian Studies" },
    { "id": 12, "name": "English" },
    { "id": 13, "name": "Environmental Health and Safety" },
    { "id": 14, "name": "Finance" },
    { "id": 15, "name": "General Studies" },
    { "id": 16, "name": "Gerontology and Aging Services" },
    { "id": 17, "name": "Graphic Communication" },
    { "id": 18, "name": "Health Services Management" },
    { "id": 19, "name": "History" },
    { "id": 20, "name": "Homeland Security" },
    { "id": 21, "name": "Humanities" },
    { "id": 22, "name": "Human Resource Management" },
    { "id": 23, "name": "Laboratory Management" },
    { "id": 24, "name": "Legal Studies" },
    { "id": 25, "name": "Management Information Systems" },
    { "id": 26, "name": "Management Studies" },
    { "id": 27, "name": "Marketing" },
    { "id": 28, "name": "Nursing (RN to BSN)" },
    { "id": 29, "name": "Political Science" },
    { "id": 30, "name": "Psychology" },
    { "id": 31, "name": "Public Safety Administration" },
    { "id": 32, "name": "Social Science" },
    { "id": 33, "name": "Software Development and Security" },
    { "id": 34, "name": "Web and Digital Design" },
]

drop_table('programs',c)
c.execute('''
    CREATE TABLE programs (
        id INTEGER PRIMARY KEY,
        name TEXT
    )
''')

c.executemany('INSERT INTO programs VALUES (:id, :name)', programs)

################################################################

# "Programs by Area" Table

programs_by_area = [
    {"area_id": 1, "degree_id": 2, "program_id": 1},
    {"area_id": 1, "degree_id": 2, "program_id": 4},
    {"area_id": 1, "degree_id": 2, "program_id": 14},
    {"area_id": 1, "degree_id": 2, "program_id": 22},
    {"area_id": 1, "degree_id": 2, "program_id": 26},
    {"area_id": 1, "degree_id": 2, "program_id": 27},
    {"area_id": 2, "degree_id": 2, "program_id": 8},
    {"area_id": 2, "degree_id": 2, "program_id": 9},
    {"area_id": 3, "degree_id": 2, "program_id": 10},
    {"area_id": 5, "degree_id": 2, "program_id": 3},
    {"area_id": 5, "degree_id": 2, "program_id": 13},
    {"area_id": 5, "degree_id": 2, "program_id": 16},
    {"area_id": 5, "degree_id": 2, "program_id": 18},
    {"area_id": 5, "degree_id": 2, "program_id": 23},
    {"area_id": 5, "degree_id": 2, "program_id": 28},
    {"area_id": 5, "degree_id": 2, "program_id": 29},    
    {"area_id": 5, "degree_id": 2, "program_id": 30},
    {"area_id": 5, "degree_id": 2, "program_id": 32},
    {"area_id": 6, "degree_id": 2, "program_id": 2},
    {"area_id": 6, "degree_id": 2, "program_id": 6},
    {"area_id": 6, "degree_id": 2, "program_id": 9},
    {"area_id": 6, "degree_id": 2, "program_id": 25},
    {"area_id": 6, "degree_id": 2, "program_id": 33},
    {"area_id": 6, "degree_id": 2, "program_id": 34},
    {"area_id": 7, "degree_id": 2, "program_id": 5},
    {"area_id": 7, "degree_id": 2, "program_id": 11},
    {"area_id": 7, "degree_id": 2, "program_id": 12},
    {"area_id": 7, "degree_id": 2, "program_id": 15},
    {"area_id": 7, "degree_id": 2, "program_id": 17},
    {"area_id": 7, "degree_id": 2, "program_id": 19},
    {"area_id": 7, "degree_id": 2, "program_id": 21},
    {"area_id": 8, "degree_id": 2, "program_id": 7},
    {"area_id": 8, "degree_id": 2, "program_id": 20},
    {"area_id": 8, "degree_id": 2, "program_id": 24},
    {"area_id": 8, "degree_id": 2, "program_id": 31}
]

drop_table('programs_by_area',c)

c.execute('''
    CREATE TABLE programs_by_area (
        area_id INTEGER,
        degree_id INTEGER,
        program_id INTEGER,
        FOREIGN KEY(area_id) REFERENCES areas(id)
        FOREIGN KEY(degree_id) REFERENCES degrees(id)
        FOREIGN KEY(program_id) REFERENCES programs(id)
    )
''')

c.executemany('INSERT INTO programs_by_area VALUES (:area_id, :degree_id, :program_id)', programs_by_area)

################################################################

# "Course Type" Table

course_type = [
    { "id":  1, "name": "major", "label": "Major" },
    { "id":  2, "name": "required", "label": "Required" },
    { "id":  3, "name": "general", "label": "General Education" },
    { "id":  4, "name": "elective", "label": "Elective" }
]

drop_table('course_type',c)
c.execute('''
    CREATE TABLE course_type (
        id INTEGER PRIMARY KEY,
        name TEXT,
        label TEXT
    )
''')

c.executemany('INSERT INTO course_type VALUES (:id, :name, :label)', course_type)

################################################################

# "Program Sequence" Table

program_sequence = [
    { "seq":  1, "program_id": 4, "name": "PACE 111", "course_type_id": 3 },
    { "seq":  2, "program_id": 4, "name": "LIBS 150", "course_type_id": 3 },
    { "seq":  3, "program_id": 4, "name": "WRTG 111", "course_type_id": 3 },
    { "seq":  4, "program_id": 4, "name": "WRTG 112", "course_type_id": 3 },
    { "seq":  5, "program_id": 4, "name": "NUTR 100", "course_type_id": 3 },
    { "seq":  6, "program_id": 4, "name": "BMGT 110", "course_type_id": 1 },
    { "seq":  7, "program_id": 4, "name": "SPCH 100", "course_type_id": 3 },
    { "seq":  8, "program_id": 4, "name": "STAT 200", "course_type_id": 2 },
    { "seq":  9, "program_id": 4, "name": "IFSM 300", "course_type_id": 2 },
    { "seq": 10, "program_id": 4, "name": "ACCT 220", "course_type_id": 1 },
    { "seq": 11, "program_id": 4, "name": "HUMN 100", "course_type_id": 3 },
    { "seq": 12, "program_id": 4, "name": "BIOL 103", "course_type_id": 3 },
    { "seq": 13, "program_id": 4, "name": "ECON 201", "course_type_id": 2 },
    { "seq": 14, "program_id": 4, "name": "ARTH 334", "course_type_id": 3 },
    { "seq": 15, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 16, "program_id": 4, "name": "ECON 203", "course_type_id": 2 },
    { "seq": 17, "program_id": 4, "name": "ACCT 221", "course_type_id": 1 },
    { "seq": 18, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 19, "program_id": 4, "name": "BMGT 364", "course_type_id": 1 },
    { "seq": 20, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 21, "program_id": 4, "name": "BMGT 365", "course_type_id": 1 },
    { "seq": 22, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 23, "program_id": 4, "name": "MRKT 310", "course_type_id": 1 },
    { "seq": 24, "program_id": 4, "name": "WRTG 394", "course_type_id": 3 },
    { "seq": 25, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 26, "program_id": 4, "name": "BMGT 380", "course_type_id": 1 },
    { "seq": 27, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 28, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 29, "program_id": 4, "name": "HRMN 300", "course_type_id": 1 },
    { "seq": 30, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 31, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 32, "program_id": 4, "name": "FINC 330", "course_type_id": 1 },
    { "seq": 33, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 34, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 35, "program_id": 4, "name": "BMGT 496", "course_type_id": 1 },
    { "seq": 36, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 37, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 38, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 39, "program_id": 4, "name": "ELECTIVE", "course_type_id": 4 },
    { "seq": 40, "program_id": 4, "name": "BMGT 495", "course_type_id": 1 },
    { "seq": 41, "program_id": 4, "name": "CAPSTONE", "course_type_id": 4 }
]

drop_table('program_sequence',c)
c.execute('''
    CREATE TABLE program_sequence (
        seq INTEGER,
        program_id INTEGER,
        name TEXT,
        course_type_id INTEGER,
        FOREIGN KEY(program_id) REFERENCES programs(id),
        FOREIGN KEY(course_type_id) REFERENCES course_type(id)
    )
''')

c.executemany('INSERT INTO program_sequence VALUES (:seq, :program_id, :name, :course_type_id)', program_sequence)

################################################################

# Roles Table

roles = [
    { "id": 1, "type": "student"  },
    { "id": 2, "type": "counselor" },
    { "id": 3, "type": "admin" }
]

drop_table('roles',c)
c.execute('''
    CREATE TABLE roles (
        id INTEGER PRIMARY KEY,
        type TEXT
    )
''')

c.executemany('INSERT INTO roles VALUES (:id, :type)', roles)

################################################################

# Tuition Table

tuition = [
    { "id": 1, "type": "in-state" },
    { "id": 2, "type": "out-of-state" },
    { "id": 3, "type": "military" }
]

drop_table('tuition',c)
c.execute('''
    CREATE TABLE tuition (
        id INTEGER PRIMARY KEY,
        type TEXT
    )
''')

c.executemany('INSERT INTO tuition VALUES (:id, :type)', roles)

################################################################

# Users Table

users = [
    { 
        "id": 1, 
        "role_id": 1, 
        "username": "johndoe", 
        "firstname": "John", 
        "lastname": "Doe"
    },
    { 
        "id": 2, 
        "role_id": 1, 
        "username": "janedoe", 
        "firstname": "Jane", 
        "lastname": "Doe" 
    },
    { 
        "id": 3, 
        "role_id": 1, 
        "username": "major", 
        "firstname": "Sergeant", 
        "lastname": "Major" 
    },
    { 
        "id": 4, 
        "role_id": 2, 
        "username": "counselor", 
        "firstname": "Dr.", 
        "lastname": "Counselor" 
    },
    { 
        "id": 5, 
        "role_id": 3, 
        "username": "admin", 
        "firstname": "The", 
        "lastname": "Administrator" 
    },
]

drop_table('users',c)
c.execute('''
    CREATE TABLE users (
        id INTEGER PRIMARY KEY,
        role_id INTEGER,
        username TEXT,
        firstname TEXT,
        lastname TEXT,
        FOREIGN KEY(role_id) REFERENCES roles(id)
    )
''')

c.executemany('INSERT INTO users VALUES (:id, :role_id, :username, :firstname, :lastname)', users)

################################################################

# "Student Info" Table

student_info = [
    { "id": 1, "user_id": 1, "tuition_id": 1 , "program_id": 4, "notes": "no credits"},
    { "id": 2, "user_id": 1, "tuition_id": 1 , "program_id": 4, "notes": "transfer credits"},
    { "id": 3, "user_id": 2, "tuition_id": 2 , "program_id": 0, "notes": "" },
    { "id": 4, "user_id": 3, "tuition_id": 3 , "program_id": 0, "notes": "" } 
]

drop_table('student_info',c)
c.execute('''
    CREATE TABLE student_info (
        id INTEGER PRIMARY KEY,
        user_id INTEGER,
        tuition_id INTEGER,
        program_id INTEGER,
        notes TEXT,
        FOREIGN KEY(user_id) REFERENCES users(id),
        FOREIGN KEY(tuition_id) REFERENCES tuition(id)
        FOREIGN KEY(program_id) REFERENCES programs(id)
    )
''')

c.executemany('INSERT INTO student_info VALUES (:id, :user_id, :tuition_id, :program_id, :notes)', student_info)

In [40]:
################################################################

# "Student Progress" Table

student_progress = [
    { "student_info_id": 1, "seq":  1, "name": "PACE 111", "credits": 3, "type": "general",  "completed": 0, "period":  1, "session": 1, "prerequisite": ""                                },
    { "student_info_id": 1, "seq":  2, "name": "LIBS 150", "credits": 1, "type": "general",  "completed": 0, "period":  1, "session": 2, "prerequisite": ""                                },
    { "student_info_id": 1, "seq":  3, "name": "WRTG 111", "credits": 3, "type": "general",  "completed": 0, "period":  1, "session": 3, "prerequisite": ""                                },
    { "student_info_id": 1, "seq":  4, "name": "WRTG 112", "credits": 3, "type": "general",  "completed": 0, "period":  2, "session": 1, "prerequisite": ""                                },
    { "student_info_id": 1, "seq":  5, "name": "NUTR 100", "credits": 3, "type": "general",  "completed": 0, "period":  2, "session": 2, "prerequisite": ""                                },
    { "student_info_id": 1, "seq":  6, "name": "BMGT 110", "credits": 3, "type": "major",    "completed": 0, "period":  3, "session": 3, "prerequisite": ""                                },
    { "student_info_id": 1, "seq":  7, "name": "SPCH 100", "credits": 3, "type": "general",  "completed": 0, "period":  3, "session": 1, "prerequisite": ""                                },
    { "student_info_id": 1, "seq":  8, "name": "STAT 200", "credits": 3, "type": "required", "completed": 0, "period":  3, "session": 2, "prerequisite": ""                                },
    { "student_info_id": 1, "seq":  9, "name": "IFSM 300", "credits": 3, "type": "required", "completed": 0, "period":  4, "session": 1, "prerequisite": ""                                },
    { "student_info_id": 1, "seq": 10, "name": "ACCT 220", "credits": 3, "type": "major",    "completed": 0, "period":  4, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 11, "name": "HUMN 100", "credits": 3, "type": "general",  "completed": 0, "period":  4, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 12, "name": "BIOL 103", "credits": 4, "type": "general",  "completed": 0, "period":  5, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 13, "name": "ECON 201", "credits": 3, "type": "required", "completed": 0, "period":  5, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 14, "name": "ARTH 334", "credits": 3, "type": "general",  "completed": 0, "period":  5, "session": 2, "prerequisite": ""                                },
    { "student_info_id": 1, "seq": 15, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  6, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 16, "name": "ECON 203", "credits": 3, "type": "required", "completed": 0, "period":  6, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 17, "name": "ACCT 221", "credits": 3, "type": "major",    "completed": 0, "period":  7, "session": 1, "prerequisite": "ACCT 220"                        }, 
    { "student_info_id": 1, "seq": 18, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  7, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 19, "name": "BMGT 364", "credits": 3, "type": "major",    "completed": 0, "period":  7, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 20, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  8, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 21, "name": "BMGT 365", "credits": 3, "type": "major",    "completed": 0, "period":  8, "session": 1, "prerequisite": "BMGT 364"                        }, 
    { "student_info_id": 1, "seq": 22, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  9, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 23, "name": "MRKT 310", "credits": 3, "type": "major",    "completed": 0, "period":  8, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 24, "name": "WRTG 394", "credits": 3, "type": "general",  "completed": 0, "period":  9, "session": 2, "prerequisite": "WRTG 112"                        }, 
    { "student_info_id": 1, "seq": 25, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  9, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 26, "name": "BMGT 380", "credits": 3, "type": "major",    "completed": 0, "period": 10, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 27, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 10, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 28, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 11, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 29, "name": "HRMN 300", "credits": 3, "type": "major",    "completed": 0, "period": 11, "session": 2, "prerequisite": ""                                },
    { "student_info_id": 1, "seq": 30, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 11, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 31, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 12, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 32, "name": "FINC 330", "credits": 3, "type": "major",    "completed": 0, "period": 12, "session": 1, "prerequisite": "ACCT 221 & STAT 200"             }, 
    { "student_info_id": 1, "seq": 33, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 12, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 34, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 13, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 35, "name": "BMGT 496", "credits": 3, "type": "major",    "completed": 0, "period": 13, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 36, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 13, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 37, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 14, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 38, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 14, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 39, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 15, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 1, "seq": 40, "name": "BMGT 495", "credits": 3, "type": "major",    "completed": 0, "period": 15, "session": 2, "prerequisite": "BMGT 365 & MRKT 310 & FINC 330"  }, 
    { "student_info_id": 1, "seq": 41, "name": "CAPSTONE", "credits": 1, "type": "elective", "completed": 0, "period": 15, "session": 3, "prerequisite": "FINC 330"                        }, 
    { "student_info_id": 2, "seq":  1, "name": "PACE 111", "credits": 3, "type": "general",  "completed": 0, "period":  1, "session": 1, "prerequisite": ""                                },
    { "student_info_id": 2, "seq":  2, "name": "LIBS 150", "credits": 1, "type": "general",  "completed": 0, "period":  1, "session": 2, "prerequisite": ""                                },
    { "student_info_id": 2, "seq":  3, "name": "WRTG 111", "credits": 3, "type": "general",  "completed": 0, "period":  1, "session": 3, "prerequisite": ""                                },
    { "student_info_id": 2, "seq":  4, "name": "WRTG 112", "credits": 3, "type": "general",  "completed": 0, "period":  2, "session": 1, "prerequisite": ""                                },
    { "student_info_id": 2, "seq":  5, "name": "NUTR 100", "credits": 3, "type": "general",  "completed": 0, "period":  2, "session": 2, "prerequisite": ""                                },
    { "student_info_id": 2, "seq":  6, "name": "BMGT 110", "credits": 3, "type": "major",    "completed": 0, "period":  3, "session": 3, "prerequisite": ""                                },
    { "student_info_id": 2, "seq":  7, "name": "SPCH 100", "credits": 3, "type": "general",  "completed": 0, "period":  3, "session": 1, "prerequisite": ""                                },
    { "student_info_id": 2, "seq":  8, "name": "STAT 200", "credits": 3, "type": "required", "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                },
    { "student_info_id": 2, "seq":  9, "name": "IFSM 300", "credits": 3, "type": "required", "completed": 0, "period":  3, "session": 2, "prerequisite": ""                                },
    { "student_info_id": 2, "seq": 10, "name": "ACCT 220", "credits": 3, "type": "major",    "completed": 0, "period":  4, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 11, "name": "HUMN 100", "credits": 3, "type": "general",  "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 12, "name": "BIOL 103", "credits": 4, "type": "general",  "completed": 0, "period":  4, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 13, "name": "ECON 201", "credits": 3, "type": "required", "completed": 0, "period":  4, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 14, "name": "ARTH 334", "credits": 3, "type": "general",  "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                },
    { "student_info_id": 2, "seq": 15, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  5, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 16, "name": "ECON 203", "credits": 3, "type": "required", "completed": 0, "period":  5, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 17, "name": "ACCT 221", "credits": 3, "type": "major",    "completed": 0, "period":  5, "session": 3, "prerequisite": "ACCT 220"                        }, 
    { "student_info_id": 2, "seq": 18, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 19, "name": "BMGT 364", "credits": 3, "type": "major",    "completed": 0, "period":  6, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 20, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  6, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 21, "name": "BMGT 365", "credits": 3, "type": "major",    "completed": 0, "period":  7, "session": 1, "prerequisite": "BMGT 364"                        }, 
    { "student_info_id": 2, "seq": 22, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 23, "name": "MRKT 310", "credits": 3, "type": "major",    "completed": 0, "period":  7, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 24, "name": "WRTG 394", "credits": 3, "type": "general",  "completed": 0, "period":  7, "session": 2, "prerequisite": "WRTG 112"                        }, 
    { "student_info_id": 2, "seq": 25, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  8, "session": 3, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 26, "name": "BMGT 380", "credits": 3, "type": "major",    "completed": 0, "period":  8, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 27, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  8, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 28, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period":  9, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 29, "name": "HRMN 300", "credits": 3, "type": "major",    "completed": 0, "period":  9, "session": 2, "prerequisite": ""                                },
    { "student_info_id": 2, "seq": 30, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 31, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 32, "name": "FINC 330", "credits": 3, "type": "major",    "completed": 0, "period":  9, "session": 3, "prerequisite": "ACCT 221 & STAT 200"             }, 
    { "student_info_id": 2, "seq": 33, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 10, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 34, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 0, "period": 11, "session": 1, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 35, "name": "BMGT 496", "credits": 3, "type": "major",    "completed": 0, "period": 10, "session": 2, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 36, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 37, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 38, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 39, "name": "ELECTIVE", "credits": 3, "type": "elective", "completed": 1, "period":  0, "session": 0, "prerequisite": ""                                }, 
    { "student_info_id": 2, "seq": 40, "name": "BMGT 495", "credits": 3, "type": "major",    "completed": 0, "period": 11, "session": 2, "prerequisite": "BMGT 365 & MRKT 310 & FINC 330"  }, 
    { "student_info_id": 2, "seq": 41, "name": "CAPSTONE", "credits": 1, "type": "elective", "completed": 0, "period": 11, "session": 3, "prerequisite": "FINC 330"                        }    
]

In [41]:
drop_table('student_progress',c)
c.execute('''
    CREATE TABLE student_progress (
        student_info_id INTEGER,
        seq INTEGER,
        name TEXT,
        credits INTEGER,
        type TEXT,
        completed INTEGER,
        period INTEGER,
        session INTEGER,
        prerequisite TEXT,
        FOREIGN KEY(student_info_id) REFERENCES student_info(id)
    )
''')

c.executemany('INSERT INTO student_progress VALUES (:student_info_id, :seq, :name, :credits, :type, :completed, :period, :session, :prerequisite)', student_progress)

In [42]:
conn.commit()

In [ ]:
import sqlite3
import json

In [41]:
# Connect to the SQLite database
conn = sqlite3.connect('UMGC.db')
c = conn.cursor()

In [37]:
# Create tables



c.execute('''
    CREATE TABLE student (
        id INTEGER PRIMARY KEY,
        firstname TEXT,
        lastname TEXT
    )
''')

In [38]:
c.executemany('INSERT INTO programs VALUES (:id, :area_id, :name)', programs)
c.executemany('INSERT INTO program_sequence VALUES (:seq, :program_id, :name, :type)', program_sequence)

In [39]:
# Commit the changes and close the connection
conn.commit()
conn.close()